raml-intro/src/main/app/publishers.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/current/mule-spring-security.xsd">
	<http:listener-config name="publishers-httpListenerConfig"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<apikit:config name="publishers-config" raml="publishers.raml"
		consoleEnabled="true" consolePath="console" doc:name="Router" />

	<mule-ss:security-manager>
		<mule-ss:delegate-security-provider
			name="security-provider" delegate-ref="property-authentication-manager" />
	</mule-ss:security-manager>
	<spring:beans>
		<ss:authentication-manager id="property-authentication-manager"
			alias="propertyAuthManager">
			<ss:authentication-provider>
				<ss:user-service properties="security.properties" />
			</ss:authentication-provider>
		</ss:authentication-manager>
	</spring:beans>

	<flow name="publishers-main">
		<http:listener config-ref="publishers-httpListenerConfig"
			path="/api/*" doc:name="HTTP" />
		<apikit:router config-ref="publishers-config" doc:name="APIkit Router" />
		<exception-strategy ref="publishers-apiKitGlobalExceptionMapping"
			doc:name="Reference Exception Strategy" />
	</flow>
	<flow name="get:/publishers:publishers-config">
		<mule-ss:http-security-filter realm="mule-realm"
			securityProviders="security-provider" />
		<set-payload
			value="[{&#xA;  &quot;id&quot; : 1,&#xA;  &quot;name&quot; : &quot;DC Comics&quot;&#xA;},&#xA;{&#xA;  &quot;id&quot; : 2,&#xA;  &quot;name&quot; : &quot;Marvel Comics&quot;&#xA;}]"
			doc:name="Set Payload" />
	</flow>
	<flow name="get:/heros:publishers-config">
		<mule-ss:http-security-filter realm="mule-realm"
			securityProviders="security-provider" />
		<set-payload
			value="[{&#xA;  &quot;id&quot; : 1,&#xA;  &quot;name&quot; : &quot;DC Comics&quot;&#xA;},&#xA;{&#xA;  &quot;id&quot; : 2,&#xA;  &quot;name&quot; : &quot;Marvel Comics&quot;&#xA;}]"
			doc:name="Set Payload" />
	</flow>
	<flow name="post:/publishers:publishers-config">
		<mule-ss:http-security-filter realm="mule-realm"
			securityProviders="security-provider" />
		<mule-ss:authorization-filter requiredAuthorities="ROLE_ADMIN" />
		<set-payload value="#[NullPayload.getInstance()]"
			doc:name="Set Payload" />
	</flow>
	<apikit:mapping-exception-strategy
		name="publishers-apiKitGlobalExceptionMapping">
		<apikit:mapping statusCode="404">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotFoundException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Resource not found&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="405">
			<apikit:exception
				value="org.mule.module.apikit.exception.MethodNotAllowedException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Method not allowed&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="415">
			<apikit:exception
				value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload
				value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="406">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotAcceptableException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
		<apikit:mapping statusCode="400">
			<apikit:exception
				value="org.mule.module.apikit.exception.BadRequestException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property" />
			<set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }"
				doc:name="Set Payload" />
		</apikit:mapping>
	</apikit:mapping-exception-strategy>
</mule>
